process {
    executor = 'local'
}

executor {
    cpus = 16 
    memory = 30.GB  
}

process {
    withLabel: process_pullauta {
        memory = { 9.GB * task.attempt }
        cpus = 4
    }

    withLabel: process_tiles {
        memory = { 3.GB * task.attempt }
        cpus = 1
    }

    withLabel: process_osm_extract {
        cpus = 4
        memory = { 30.GB * task.attempt }
    }
}
