process {
    executor = 'local'
}

executor {
    cpus = 4
    memory = 85.GB  
}

process {
    withLabel: process_pullauta {
        memory = { 80.GB * task.attempt }
        cpus = 2
    }

    withLabel: process_tiles {
        memory = { 3.GB * task.attempt }
        cpus = 1
    }

    withLabel: process_osm_extract {
        cpus = 2
        memory = { 60.GB * task.attempt }
    }
}
