process {
    executor = 'local'
}

executor {
    // oversubscribe cpus
    cpus = 48 
    memory = 124.GB  // oversubscribe memory, such that more pullauta processes can run in parallel - ulikely they'll all reach peak memory at the same time. If they do, it'll retry. 
}

process {
    withLabel: process_pullauta {
        memory = { 12.GB * task.attempt }
        cpus = 4
    }

    withLabel: process_tiles {
        memory = { 3.GB * task.attempt }
        cpus = 1
    }

    withLabel: process_osm_extract {
        cpus = 4
        memory = { 60.GB * task.attempt }
    }
}
