/*
 * Production sizing for a single c8id.32xlarge with the local executor.
 * 128 vCPU, 256 GiB RAM, 2 x 1900 GiB NVMe, 50 Gbps, Granite Rapids.
 */

process {
    executor = 'local'
}

executor {
    // oversubscribe actual core count by factor of 1.5 to account for downloads that may run in parallel and do not consume CPU power. 
    cpus = 192 
    memory = 248.GB // allow some headroom for head process
}

process {
    withLabel: process_pullauta {
        memory = { 20.GB * task.attempt }
    }

    withLabel: process_tiles {
        memory = { 4.GB * task.attempt }
        cpus = 1
    }

    withLabel: process_osm_extract {
        cpus = 4
        memory = { 30.GB * task.attempt }
    }
}
