/*
 * Configuration for a single c8id.32xlarge with the local executor.
 * 16 vCPU, 32 GiB RAM, 1 x 900 GiB NVMe, 50 Gbps, Granite Rapids.
*/

process {
    executor = 'local'
}

executor {
    // oversubscribe actual core count by factor of 2 to account for downloads that may run in parallel and do not consume CPU power. 
    cpus = 32 
    memory = 30.GB
}

process {
    withLabel: process_pullauta {
        memory = { 12.GB * task.attempt }
    }

    withLabel: process_tiles {
        memory = { 3.GB * task.attempt }
        cpus = 1
    }

    withLabel: process_osm_extract {
        cpus = 4
        memory = { 30.GB * task.attempt }
    }
}
