/*
 * Configuration for a single c8id.32xlarge with the local executor.
 * 16 vCPU, 32 GiB RAM, 1 x 900 GiB NVMe, 50 Gbps, Granite Rapids.
*/

process {
    executor = 'local'
}

executor {
    cpus = 16 
    memory = 30.GB
}

process {
    withLabel: process_pullauta {
        memory = { 12.GB * task.attempt }
     	cpus = 8 // This is less than in the params.yml on purpose -> oversubscribe because some of the pullauting processes are idle downloading tiles
    }

    withLabel: process_tiles {
        memory = { 7.GB * task.attempt }
    }

    withLabel: process_osm_extract {
        cpus = 4
        memory = { 30.GB * task.attempt }
    }
}
